* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F4F4F4;
    color: #333;
}

header {
    background-color: #FF9801;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

.details-button {
    background-color: #FF9801;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.details-button:hover {
    cursor: pointer;
    background-color: #ea9515;
    color: white;
}

#places-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;

}

#places-list ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    justify-content: center; /* Center items horizontally */
}

#place-details {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#place-details div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 10px;
    font-size: 18px;
}

.place-card {
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#place-name {
    text-align: center;
}

.place-card, .review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
}

.review-card {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}


#filter {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 60px;
}


main {
    padding: 2rem;
}

footer {
    background-color: #FF9801;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}